<table class="table">
    <tr *ngFor="let movie of movies">
        <td>{{movie.movieId}}</td>
        <td>{{movie.movieName}}</td>
        <td>{{movie.genreId}}</td>
        <td>{{movie.movieYear}}</td>
        <td>{{movie.movieDuration}}</td>
        <td>{{movie.movieMyMovieListPoint}}</td>
        <td>{{movie.movieImdbPoint}}</td>
        <td>{{movie.movieMyPoint}}</td>
        <td>{{movie.movieTopic}}</td>
        <td>{{movie.movieDirector}}</td>
        <td>{{movie.movieListedOn}}</td>
    </tr>
</table>
